:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --height: 1.5;
  --fontsize: 16px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid coral;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------HEADER-------------- */

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--navyblue);
  margin-right: 76px;
}

.logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--iris);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 28px;
  color: var(--navyblue);
  transition: color var(--transition);
}

.header-contacts {
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-mail,
.header-phone {
  font-family: "Roboto", sans-serif;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #434455;
}

.header-mail {
  transition: color var(--transition);
}

.active {
  color: var(--ocean);
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background-color: var(--ocean);
  border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--ocean);
}

.header-mail:hover,
.header-mail:focus {
  font-family: "Roboto", sans-serif;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--ocean);
}

/* ---------------HERO-------------------- */
.hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 500px;
  padding-bottom: 48px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--transition);
  letter-spacing: 0.04em;
  background: var(--iris);
  color: #ffffff;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background var(--transition);
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--ocean);
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* -------------FEATURE------------------ */

.feature {
  padding-top: 120px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.decoration {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  border-radius: 4px;
}

.feature-item {
  width: 264px;
}

.feature-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.feature-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
}

/* -----------------galery----------------- */

.galery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.galery-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

.galery-list {
  display: flex;
  gap: 24px;
}

.galery-item {
  width: calc(100%-48px) / 3;
}

/* ----------------TEAM----------------------- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc(100%-72px) / 4;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

.team-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-members-name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color var(--transition);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--ocean);
}

.team-soc-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

/* ------------------customers---------------- */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  fill: var(--ocean);
}

.customers-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color var(--transition), border-color var(--transition);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
  transform: fill var(--transition);
}

.customers-icon:is(:hover, :focus) {
  fill: currentColor;
}

/* --------------------FOOTER----------------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navyblue);
}

.footer-container {
  display: flex;
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid coral;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.social {
  margin-left: 120px;
}

.social-text {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background var(--transition);
}

.social-link:is(:hover, :focus) {
  background: #31d0aa;
}

.social-icon {
  fill: var(--cloud);
}

.subscripe {
  margin-left: auto;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscripe-wrap {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.subscripe-input {
  width: 264px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: border-color var(--transition);
}

.subscripe-input:focus {
  border-color: #4d5ae5;
}

.subscripe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscripe-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.subscripe-icon {
  fill: #ffffff;
}

/* -----------------------------------
----------PAGE-PORTFOLIO-------------
-------------------------------------- */

/* ------------MENU------------ */

.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.menu-item {
}

.menu-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.04em;
  color: var(--ocean);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background var(--transition), color var(--transition),
    box-shadow var(--transition);
}

.menu-btn:hover,
.menu-btn:focus {
  background: var(--ocean);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------PORTFOLIO------------------ */

.portfolio {
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc(100%-48px) / 3;
  background: #ffffff;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-img {
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.cover-text-position {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio-item:is(:hover, :focus) .cover-text-position {
  transform: translateY(0);
}

.portfolio-cover-text {
  padding: 40px 32px;
  font-size: 16px;
  line-height: var(--height);
  letter-spacing: 0.02em;
  overflow: auto;
  color: var(--cloud);
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #434455;
}

.about-list {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: border var(--transition), box-shadow var(--transition);
}

.portfolio-link:is(:hover, :focus) > .about-list {
  border-right: 1px solid #f4f4fd;
  border-bottom: 1px solid #f4f4fd;
  border-left: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ----------------modal window-------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 408px;
  min-height: 576px;
  padding: 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(45deg);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color, fill var(--transition);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--ocean);
  fill: #ffffff;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--height);
  text-align: center;
  letter-spacing: 0.02em;
  margin: 48px 0 16px 0;
  color: var(--navyblue);
}

.modal-input {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  transition: border-color var(--transition);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.modal-coment {
  width: 360px;
  min-height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
  resize: none;
}

.modal-coment:focus {
  border-color: #4d5ae5;
}

.modal-coment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-item {
  position: relative;
  display: flex;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--navyblue);
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.input-text,
.user-text {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-field {
  position: relative;
  display: flex;
  gap: 8px;
}

.check-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text .check-icon-wrap {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: border, fill, background-color var(--transition);
}

.input-check:checked + .check-text .check-icon-wrap {
  border: none;
  background-color: var(--ocean);
  fill: var(--cloud);
}

.check-link {
  color: var(--iris);
}

.button-send-data {
  margin-top: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
