:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --height: 1.5;
  --fontsize: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid coral;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------HEADER-------------- */

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--navyblue);
  margin-right: 76px;
}

.logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--iris);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.header-contacts {
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-mail,
.header-phone {
  font-family: "Roboto", sans-serif;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #434455;
}

.active-main,
.active-portfolio {
  color: var(--ocean);
}

.header-link:hover,
.header-link:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--ocean);
}

.header-mail:hover,
.header-mail:focus {
  font-family: "Roboto", sans-serif;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--ocean);
}

/* ---------------HERO-------------------- */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navyblue);
}

.hero-title {
  width: 500px;
  padding-bottom: 48px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  width: 169px;
  height: 56px;
  background: var(--iris);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--ocean);
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* -------------FEATURE------------------ */

.feature {
  padding-top: 120px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.feature-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
}

/* -----------------galery----------------- */

.galery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.galery-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

.galery-list {
  display: flex;
  gap: 24px;
}

.galery-item {
  width: calc(100%-48px) / 3;
}

/* ----------------TEAM----------------------- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc(100%-72px) / 4;
  height: 380px;
}

.team-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

.team-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  text-align: center;
}

.team-members-name {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* --------------------FOOTER----------------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navyblue);
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* -----------------------------------
----------PAGE-PORTFOLIO-------------
-------------------------------------- */

/* ------------MENU------------ */

.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.menu-item {
}

.menu-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.04em;
  color: var(--iris);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.menu-btn:hover,
.menu-btn:focus {
  background: var(--ocean);
  color: #ffffff;
}

/* ---------------PORTFOLIO------------------ */

.portfolio {
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc(100%-48px) / 3;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #434455;
}

.about-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}
