:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --height: 1.5;
  --fontsize: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------HEADER-------------- */

.header {
}

.header-navigation {
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--navyblue);
}

.logo-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--iris);
}

.header_list {
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.header-contacts {
}

.header-mail,
.header-phone {
  font-family: "Roboto";
  font-style: normal;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #434455;
}

.header-link:hover,
.header-link:focus {
  font-family: "Roboto";
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--ocean);
}

.header-mail:hover,
.header-mail:focus {
  font-family: "Roboto";
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: var(--ocean);
}

/* ---------------HERO-------------------- */
.hero {
  background-color: var(--navyblue);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  cursor: pointer;
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--ocean);
}

.hero-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* -------------FEATURE------------------ */

.feature-list {
}

.feature-item {
}

.feature-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.feature-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
}

/* -----------------galery----------------- */

.galery {
}

.galery-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.galery-list {
}

.galery-item {
}

/* ----------------TEAM----------------------- */

.team {
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.team-list {
}

.team-item {
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.team-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
}

/* --------------------FOOTER----------------- */

.footer {
  background-color: var(--navyblue);
}

.footer-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* -----------------------------------
----------PAGE-PORTFOLIO-------------
-------------------------------------- */

/* ------------MENU------------ */

.menu {
}

.menu-list {
}

.menu-item {
}

.menu-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.04em;
  color: var(--iris);
}

.menu-btn:hover,
.menu-btn:focus {
  background: var(--ocean);
  color: #ffffff;
}

/* ---------------PORTFOLIO------------------ */

.portfolio {
}

.visually-hidden {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-text {
  font-size: var(--fontsize);
  line-height: var(--height);
  letter-spacing: 0.02em;
}
